body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    
}

.container{
    width: 1920px;
    height: 1899px;
    background-color: #E5E5E5;

}

.header{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    display: flex;
}

.menu{
    margin-left: 13%;
}
.navigation{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    color: FFFFFF;
}
.navigation a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    
}
.navigation_section{
    width: 170px;
    height: 55px;
    margin-right: 23px;
    text-align: center;
    padding-top: 7px;
  
}
.navigation_section_1{
    width: 170px;
    height: 55px;
    margin-right: 23px;
    text-align: center;
    margin-top: -7px;
    
}

.logo{
    margin-left: 7%;
    margin-top: 10px;
}

.planet{
    display: inline-block;
    margin-top: -20px;
}
.line{
    border-right: 2px #FFFFFF solid;
    height: 59px;
    margin-right: 23px;
    margin-top: -9px;
}


.title{
    width: 100%;
    height: 140px;
    background-color: #C6C6DC;
    
    
}
.title_text{
    font-size: 48px;
    color: #202846;
    font-style: italic;
    margin-left: 227px;
    padding-top: 35px;
    box-sizing: border-box;
}
.box{
    margin-top: 185px;
    margin-left: 216px;
    position: relative;
}

.card{
    width: 1489px;
    height: 300px;
    background-color: #BDBDC6;
    margin-top: 36px;
    display: flex;
    position: relative;
}
.image{
    width: 485px;
    height: 244px;
    padding-top: 28px;
    padding-left: 103px;
}

.title_2{
   
    font-style: italic;
    font-size: 36px;
    color: #353C57;
    font-weight: 700;
    margin-left: 102px;
    padding-top: 27px;
}

.line2{
    border-bottom: 3px solid #FFFFFF ;
    width: 712px;
    margin-left: 102px;
}
.rectangle{
    width: 712px;
    height: 184px;
    background-color: #D7D7DD;
    margin-left: 102px;
    margin-top: 14px;
}

.rectangle_text{
    width: 665px;
    height: 135px;
    font-size: 22px;
    text-align: center;
    color: #202846;
    padding-top: 5%;
    margin-left: 23px;
}

.rectangle_text1{
    width: 664px;
    height: 184px;
    font-size: 22px;
    text-align: center;
    color: #202846;
    margin-left: 24px;
    padding-top: 5%;
}

.rectangle_text2{
    width: 664px;
    height: 184px;
    font-size: 22px;
    text-align: center;
    color: #202846;
    margin-left: 24px;
    padding-top: 5%;
}

.rectangle_text3{
    width: 664px;
    height: 184px;
    font-size: 22px;
    text-align: center;
    color: #202846;
    margin-left: 24px;
    padding-top: 3%;
}

.star{
    padding-top: 17px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.star:hover svg{
    background-color: yellow;
}

.button1{
    position: absolute;
    top: 233px;
    left: 1342px;
}
.button2{
   position: fixed;
   bottom: 220px;
   right: 3  0%;
}

.footer{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    margin-top: 87px;
}

.footer_text{
    width: 709px;
    height: 47px;
    color: #EEECF1;
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
    line-height: 46.58px;
    text-align: center;
    padding-top: 20px;
    margin-left: 60px;
}