body{
    margin: 0px;
    padding: 0px;
}

.box{
    width: 1024px;
    height: 3452px;
    background-color: #FFFFFF;
}
.header{
    /*width: 245px;
    height: 25px;*/
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-top: 23px;
    padding-left: 25px;
}

.image-group{
    margin-top: 18px;
    margin-left: 25px;
    
}

.image-group-txt{
    width: 550px;
    height: 24px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
  
}
.header1{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    padding-left: 25px;
    color: #000000;
    
}

.image-group1{
    margin-left: 25px;
    padding-top: 18px;
}

.header2{
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    padding-top: 33px;
    padding-right: 24px;
    color: #000000;
}
.image-group2{
    margin-left: 146px;
    padding-top: 17px;
}
.image-group2-txt{
width: 550px;
height: 24px;
color: #333333 ;
font-size: 14px;
padding-left: 15%;
padding-top: 5px;
font-weight: 400;

}
.header3{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-top: 13px;
    padding-left: 25px;
}

.image-group3{
    margin-left: 25px;
}
.image-group3-txt{
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    padding-top: 6px;
}

.header4{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    padding-top: 32px;
    margin-left: 24px;
}

.image-group4{
    margin-left: 24px;
    padding-top: 18px;
}

.image-group5{
    margin-left: 26px;
    padding-top: 36px;
}