.box{
    font-family: 'PT Sans', sans-serif;
    width: 1920px;
    height: 1001px;
    background-color: #DCDCDC;
    margin:0;
    padding: 0;
}
.header{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    
}

.navigation{
    width: 1066px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo{
    margin-left: 138px;
    width: 178px;
    height: 45px;
    padding-top: 10px;
  }
  
  .navigation_icon{
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      align-items: center;
      text-align: center;
      width: 1066px;
      height: 57px;
      margin-left: 292px;
      padding-top: 25px;
      padding-left: 60px;
  
  }
  
  
  .navigation_icon a{
      text-decoration: none;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 24px;
      display: block;
      width: 170px;
      height: 55px;
      font-weight: 700;
      line-height: 31.06px;
      text-align: center; 
      padding: 25px;
      
  }
  
  .line{
      border-right: 2px #FFFFFF solid;
      height: 59px;
      margin-bottom: 25px;
  }
  
  .planet{
      width: 118px;
      height: 75px;
      padding-bottom: 70px;
      margin-left: -15px;
  }
  
.container_basic{
    width: 1920px;
    height: 140px;
    background-color: #C6C6DC;
    
}
.container_basic-1{
    width: 219px;
    height: 139px;
    font-size: 48px;
    font-style: italic;
    margin-left: 227px;
    color: #202846;
    padding-top: 35px;
}
.block-1{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
   
    
}
.block-1 a{
    text-decoration: none;
    color: #000000;
    
    
}
.line1{
    border-bottom: #202846 3px solid;
    width: 244px;
}
.line2{
    border-bottom: #202846 3px solid;
    width: 266px;
}
.line3{
    border-bottom: #202846 3px solid;
    width: 264px;
}

.number{
    margin-left: 439px;
    margin-top: 33px;
}

.schedule{
    margin-left: 139px;
    margin-top: 33px;
}

.email{
    margin-left: 137px;
    margin-top: 33px;

}

.block-2{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
}

.address{
    margin-top: 154px;
    margin-left: 439px;
}

.line4{
    border-bottom: #202846 3px solid;
    width: 386px;
}

.location{
    margin-left: 136px;
    margin-top: 52px;
}
.footer{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    margin-top: 680px;
}
.footer-container{
    width: 709px;
    height: 47px;
    font-size: 36px;
    font-style: italic;
    color: #EEECF1;
    text-align: center;
    padding-top: 21px;
}