.box{
    width: 1920px;
    height: 1001px;
    margin: 0;
    background-color: #DCDCDC;
    font-family: 'PT Sans', sans-serif;
}
.header{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    margin: 0;
    
   
   
}
.navigation{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    margin-left: -127px;
    

    
}
.header__navigation-icon-right{
    display: flex;
    width: 1066px;
    height: 57px;
    margin: 0;   
}

.planet{
    align-items: center;
    padding-left: 30px;
    padding-top: 8px;
}

.header__navigation-icon a{
    
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 25px;
    width: 170px;
    height: 55px;
    font-weight: 700;
    line-height: 31.06px;
    text-align: center; 
}
.line1, .line2, .line3, .line4, .line5{
    border-right: #FFFFFF 2px solid;
    height: 59px;
    margin-top: 15px;
}
.logo{
    width: 178.45px;
    height: 70px;
    margin-left: 0;
    padding-top: 10px;
    
}


.container-1{
width: 1920px;
height: 140px;
background-color: #C6C6DC;
}

.cont-tx{
    width: 1477px;
    height: 140px;
    color: #202846;
    font-size: 48px;
    padding-left: 218px;
    padding-top: 35px;
    font-style: italic;


}

.container-2{
    width: 1575px;
    height: 227px;
    background-image: url("./img/Rectangle\ 39\ \(1\).png");
    background-color: #000000;
    margin-left: 173px;
    margin-top: 15px;
    opacity: 80%;

   
}
.title{
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 35px;
    line-height: 62.11px;
}
.text{
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    line-height: 46.58px;
}


.container-3{
    width: 1574px;
    height: 380px;
    background-color: #CBCBCB;
    margin-left: 173px;
    margin-top: 23px;
    color: #202846;
    font-size: 30px;
}

.container-3-text{
    width: 1427px;
    height: 380px;
    margin-left: 74px;
    padding-top: 32px;
    font-style: 400px;
    line-height: 38.82px;
}
.footer{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    margin-top: 34px;
    
}
.footer-text{
    width: 709px;
    height: 47px;
    font-size: 36px;
    color: #EEECF1;
    font-style: italic;
    margin-left: 60px;
    padding-top: 21px;
    font-weight: 400;
}