.box{
    font-family: 'PT Sans', sans-serif;
    width: 1920px;
    height: 1001px;
    background-color: #DCDCDC;
    margin:0;
    padding: 0;
}

.header{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    
}

.navigation{
    width: 1066px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  
    

}

.logo{
  margin-left: 138px;
  width: 178px;
  height: 45px;
  padding-top: 10px;
}

.navigation_icon{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    text-align: center;
    width: 1066px;
    height: 57px;
    margin-left: 292px;
    padding-top: 25px;
    padding-left: 60px;

}


.navigation_icon a{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    width: 170px;
    height: 55px;
    font-weight: 700;
    line-height: 31.06px;
    text-align: center; 
    padding: 25px;
    
}

.line{
    border-right: 2px #FFFFFF solid;
    height: 59px;
    margin-bottom: 25px;
}

.planet{
    width: 118px;
    height: 75px;
    padding-bottom: 70px;
    margin-left: -15px;
}


.container_basic{
    width: 1920px;
    height: 140px;
    background-color: #C6C6DC;
    
}
.container_basic-1{
    width: 1477px;
    height: 140px;
    font-style: italic;
    font-size: 48px;
    color: #202846;
    margin-left: 222px;
    align-items: center;
    padding-top: 35px;
    font-weight: 400;
}
.card{
width: 1318px;
height: 498px;
display: flex;
background-color: #BDBDC6;
margin-top: 41px;
margin-left: 319px;
}

.avatar{
    width: 196px;
    height: 184px;
    margin-left: 167px;
    padding-top: 77px;
}

.button-1{
margin-top: 38px;
margin-left: 140px;
}

.button-2{
    margin-top: 22px;
    margin-left: 140px;

}

.card_right-block {
    list-style: none;
    font-style: italic;
    font-size: 36px;
    color: #353C57;
    padding-left: 10%;
    padding-top: 5%;
    
}
.line2{
    border-bottom: 3px #FFFFFF solid;
    width: 712px;
}

.name{
    width: 335px;
    height: 80px;
    line-height: 80px;
    
}
.gender{
    width: 260px;
    height: 80px;
    line-height: 80px;
}
.birth{
    width: 511px;
    height: 80px;
    line-height: 80px;
}
.tel{
    width: 619px;
    height: 80px;
    line-height: 80px;
}
.email{
    width: 459px;
    height: 80px;
    line-height: 80px;
}
.button-3{
    padding-left: 854px;
    padding-top: 40px;
}
.footer{
    width: 1920px;
    height: 90px;
    background-color: #202846;
    margin-top: 35px;
}
.footer-container{
    width: 709px;
    height: 47px;
    font-style: italic;
    font-size: 36px;
    color: #EEECF1;
    margin-left: 60px;
    padding-top: 21px;
}
