body{
    margin: 0;
    padding: 0;
}

.box{
    width: 1728px;
    height: 1149px;
    background-image: url("./img/фон.png");
}

.header{
    width: 1740px;
    height: 101px;
    background-color: #000000;
    max-width:100%;
}

.header__navigation{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

@font-face{
    font-size: 19px;
    font-family: Monserrat;
    src: url("./Fonts/montserrat-v23-cyrillic-800.woff2")
}


.header__navigation-icon{
    margin-top: 17px; 
    text-align: center;
}

.header__navigation-icon a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 19px;
    width: 100%;
    display: block;
    padding: 25px;
    letter-spacing: 0.12em;
}

.container__black{
    width: 1278px;
    height: 794px;
    background-color: #000000;
    margin: auto;
   margin-top: 103px;
}

.container__black__title{
    color: #FD7D54 ;
    text-align: center;
    width: 442px;
    height: 78px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 17px;
    font-size: 64px;
    
}

@font-face {
    font-family: "Montserrat";
    src: url("./Fonts/montserrat-v23-cyrillic-800.woff2");
    font-style: normal;
    font-size: 64px;
}

h1{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.3em;
}

.container__black__text{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    width: 635px;
    height: 42px;
    margin: auto;
}
@font-face {
    font-family: Montserat;
    src: url("./Fonts/montserrat-v23-cyrillic-600.woff2");
}
div{
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 0.03em;
}


.block{
    display: flex;
    justify-content: space-evenly;
    margin-top: 47px;
}

.block-1{
    width:293px;
    height: 440px;
    border: 4px #FFFFFF solid;
}

.block-2{
    width:293px;
    height: 440px;
    border: 4px #FFFFFF solid;
}

.block-3{
    width:293px;
    height: 440px;
    border: 4px #FFFFFF solid;
}

.block img{
    display: block;
    margin: 46px;
    margin-left: 83px;
}

.h2{
    font-size: 27px;
    color: #FFFFFF;
    text-align: center;
}

.line{
    width: 23px;
    border-bottom: 3px solid white;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 45%;
}

.block-text{
    width: 227px;
    height: 75px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-top: 21px;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Fonts/montserrat-v23-cyrillic-600.woff2);
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 25px;
}

.button{
    width: 159px;
    height: 50px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 29%;
     font-weight: 800;
}


.button a{

    color: #41C3F6;
    font-size: 19px;
    font-weight: bolder;
    text-decoration: none;
    width: 100%;
    padding: 20px;
    font-weight: 800;
    

}

.footer{
    width: 1728px;
    height: 50px;
    background-color: #000000;
    margin-top: 101px;
}
.footer_container{
    width: 635px;
    height: 42px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    margin: auto;
    padding-top: 1%;
    font-weight: 800;
}