body{
    margin: 0;
    
}
.box{
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.square1{
    width: 512px;
    height: 512px;
    display: inline-block;
    background-image: url(./image/Square.png);
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: top;

}


.line{
    width: 400px;
    height: 227px;
    display: inline-block;
    background-image: url(./image/line.png) ;
    margin-top: 144px;
    margin-left: 10%;
}
    
.square2{
    width: 512px;
    height: 512px;
    display: inline-block;
    background-color: #FFFFFF;
   
    background-position: 50%;
    margin-left: 5%;
    
}
.square2-1{
    background-image: url(./image/Square.png); border-radius: 50%;
    background-position: center;
    height: 90%;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}


.line2{
    width: 358px;
    height: 203px;
    background-image: url(./image/line2.png);
    display: inline-block;
    margin-left: 53px;
    margin-top: 45%;
}
 
.square3{
    background-image: url(./image/Square.png);
    width: 512px;
    height: 512px;
    display: inline-block;
    background-position: 50%;
    margin-top: 5%;
}

.square4{
    width: 512px;
    height: 512px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 5%;
    

}

.square4-1{
    width: 90%;
    height: 90%;
    background-image: url(./image/Square.png);
    background-position: 50%;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;

}


.square5{
    background-image: url(./image/Square.png);
    width: 512px;
    height: 512px;
    display: inline-block;
    background-position: 50%;
    margin-top: 5%;
}

.square5-1{
    background-image: url(./image/figure.png);
    width: 341px;
    height: 393px;
    margin-top: 15%;
}

.square6{
    width: 512px;
    height: 512px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 5%;
    

}

.square6-1{
    width: 90%;
    height: 90%;
    background-image: url(./image/Square.png);
    background-position: 50%;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;


}
.square6-2{
    background-image: url(./image/figure1.png);
    width: 278px;
    height: 320px;
    margin-left: 33%;
    margin-top: 25%;
    display: table-caption;
}

.square7{
    width: 512px;
    height: 512px;
    background-image: url(./image/Square.png);
    background-position: 50%;
    margin-top: 5%;
    display: inline-block;
}
.square7-1{
    background-image: url(./image/Plane.png);
    width: 339px;
    height: 385px;
    display: inline-block;
    margin-top: 25%;
    margin-left: 34%;
}

.square8{
    width: 512px;
    height: 512px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 5%;
    
}

.square8-1{
    background-image: url(./image/Square.png);
    background-position: 50%;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
.square8-2{
    background-image: url(./image/Plane\ 1.png);
    width: 278px;
    height: 320px;
    margin-left: 33%;
    margin-top: 25%;
    display: table-caption;
}

.one{
    width: 512px;
    height: 512px;
    background-image: url(./image/Square.png);
    background-position: 50%;
    margin-top: 5%;
    display: inline-block;
}

.one-1{
    background-image: url(./image/Diia.png);
    width: 310px;
    height: 181px;
    margin-top: 30%;
    margin-left: 18%;
}

.two{
    width: 512px;
    height: 512px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 5%;

}
.two-1{
    background-image: url(./image/Square.png);
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-position: 50%;
    margin-top: 6%;
    margin-left: 5%;
    
}
.two-2{
    background-image: url(./image/Diia.png);
    width: 310px;
    height: 181px;
    margin-top: 43%;
    margin-left: 25%;
    display: table-caption;
}
.three{
    width: 512px;
    height: 512px;
    background-color: black;
    display: inline-block;
    margin-left: 5%;
}

.three-1{
    background-image: url(./image/Diia.png);
    width: 310px;
    height: 182px;
    margin-top: 25%;
    margin-left: 20%;
}

.three-2{
    background-image: url(./image/littleflag.png);
    width: 80px;
    height: 60px;
    display: table-caption;
    margin-top: 261%;
    margin-left: 150%;
}
.four{
    width: 512px;
    height: 512px;
    background-color: black;
    display: inline-block;
    margin-left: 5%;
}
.four-1{
    background-image: url(./image/Diia.png);
    width: 310px;
    height: 182px;
    margin-top: 25%;
    margin-left: 20%;
}
.four-2{
    background-image: url(./image/littleflag.png);
    width: 80px;
    height: 60px;
    display: table-caption;
    margin-left: -80%;
    margin-top: -116%;
}