body{
    margin: 0;
    padding: 0;
    background-color: #212529;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}
.body{
  width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    padding-top: 1%;
}


.navigation{
    display: flex;
    list-style: none;
    
}
li.nav-item >a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: 0.4s;
}
li.nav-item >a:hover{
    color: #FFB742;
}
.hire_me{
    background-color: #FFB742;
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box; 
   
}

.hire_me a{
    color: #212529;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.about_me{
    margin-top: 5%;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
}

.about_1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
}
.about_1 a{
    color: #FFB742;
}
.about_2{
    font-size: 48px;
    font-family: 'Inter';
    font-weight: 700;
    margin-top: 1%;
}

.about_3{
    font-size: 24px;
    margin-top: 3%;
    font-family: 'Inter';
    font-weight: 400;
}

.avatar1{
    margin-top: 3%;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    box-sizing: border-box;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.icon :hover{
    background-color: #FFB742;
    color: black;
}
.icon :hover div{
    color: black;
}


.icon_row{
    background-color: #292B2E;
    width: 20%;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 35px 12.5px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
    box-sizing: border-box;
    
}
.icon_text{
    font-size: 32px;
    color: #FFB742;
    font-family: 'Inter';
    font-weight: 700;
}
.icon_text_small{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 15px;
}
.personal_inf{
    display: flex;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    margin-top: 5%;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 41%;
    text-align: left;
    align-items: start;
 
}
.who{
    background-color: rgba(255, 255, 255, 0.08);
    padding: 6px 25px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase ;
    color: #FFB742;
    margin-left: -1%;
    transition: 4s;
}
.about_me{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    

}
.about_all{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #D4D4D4;
    margin-top: 3%;
}
.hire_me1{
    background-color: #FFB742;
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;  
    margin-top: 5%;
}
.hire_me1 a{
    color: #212529;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.my_works{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    text-transform: uppercase;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 5%;
    box-sizing: border-box;
  

   
}
.navigation_2{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.navigation_2 a{
    
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 15px 30px;
}

.navigation_2 :hover{
    background-color: #FFB742;
    color: #212529;
    border-radius: 5px;
}

.featured_works{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    margin-top: 2%;
}

.picture{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.picture img{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
   
}
.footer{
    display: flex;
    background-color: #1C1C1C;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.kartik_bansal_text{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    text-transform: capitalize;
    margin-bottom: 5px;
    
}
.creative_text{
    font-family: 'Work sans';
    font-size: 16px;
    font-weight: 600;
    color: #D4D4D4;
    text-transform: capitalize;
    max-width: 80%;
   
}
.footer_headers_text{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 21px;
    color: #F5FBF2;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.footer_small_text{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 18px;
    color: #7B7B7B;
    text-transform: capitalize;
    padding-top: 10px;
    max-width: 70%;
    
}