body{
    margin: 0;
    padding: 0;
    font-family: 'Inika', serif;
}

.desktop{
    width: 1440px;
    height: 2826px;
    background-color: #FFFFFF;
}

.header{
    width: 548px;
    height: 54px;
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #3E45E8;
    text-align: left;
    padding-top: 25px;
    padding-left: 488px;
    
}

.box1{
    width: 1440px;
    height: 803px;
    background-image: url(./image/background1.png);
    margin-top: 31px;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    background-size: cover;
    padding-top: 12%;
}
    

.box1-text{
  
    box-sizing: border-box;
    color:#FFFFFF;
    font-size: 48px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 70%;
    line-height: 157.3%;
    margin-left: 5%;
    padding-left: 3%;
    background-image: url(./image/flag.png);
    background-repeat: no-repeat;
}

.h1{
    font-family: 'Inika', serif;
    font-size: 40px;
    color: black;
    width: 60%;
    margin-left: 4%;
    margin-top: 72px;
 
    font-weight: 700;
    line-height: 62.92px;
    
   
}

.line{
    border-bottom:5px solid #3E45E8; 
    width: 402px;
    margin-top: 3%;
    
   
}


.card1 {
    width: 391px;
    height: 481px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 63px;
    margin-left: 4%;
    border-radius: 7%;
    vertical-align: top;
    box-shadow: 0px 4px 57px black;
    
    
}

.card2 {
   width: 391px;
   height: 481px;
   border: 1px solid black;
   display: inline-block;
   margin-top: 63px;
    margin: 4.5%;
    border-radius: 7%;
    vertical-align: top;
    box-shadow: 0px 4px 57px black;
}

.card3{
   width: 391px;
   height: 481px;
   border: 1px solid black;
   display: inline-block;
   margin-top: 63px;
   border-radius: 7%; 
   vertical-align: top;
   box-shadow: 0px 4px 57px black; 
}

.card_title{
    font-size: 24px;
    color: #1E8DF2;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 16px;
}
.card_title a{
    text-decoration: none;
    color:#1E8DF2;
}

.card_subtitle{
    color: #E8C23E;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
  max-width: 70%;
}

.h2{
    font-size: 40px;
    color: black;
    font-family: 'Inika', serif;
    font-weight: 700;
    margin-top: 74px;
    margin-left: 30%;
    line-height: 62.92px;
   
}
.line2{
    border-bottom:5px solid #3E45E8; 
    width: 402px;
    margin-top: 2%;
    margin-left: 10%;
}

.map-picture{
    margin-left: 20%;
    margin-top: 4%;
}

.button{
    background-color:  #2A61F0;
    width: 591px;
    height: 121px;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    margin-left: 31%;
    margin-top: 4%;
}
.button a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10%; 
}
.footer{
    width: 1440px;
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 2%;
}

.mail {
    color: #A89D9D;
    font-size: 36px;
    margin-top: 1%;
    margin-left: 38%;
    font-family: 'Marcellus SC', serif;
}

.mail a, .tel a{
    text-decoration: none;
    color:#A89D9D ;
}
.tel{
    color: #A89D9D;
    font-size: 36px;
    margin-top: 1%;
    margin-left: 42%;
    font-family: 'Marcellus SC', serif;
}

.all_icon{
    margin-left: 39%;
}

.icon{
    display: inline-block;
    margin-top: 2%;
    margin-right: 2%;

}