body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

.container{
    min-width: 700px;
    max-width: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}
.left_block{
    width: 30vw;
}
.right_block{
    width: 30vw;
}

.h1{
    font-family: 'Public Sans';
    font-size: 24px;
    font-weight: 700;
    color: #171717;
    padding-top: 5%;
    text-transform: capitalize;
}

.txt14{
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4%;
}

.h2{
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block{
    display: block;
    margin-bottom: 5px;
}
    
   
    
    

.rectangle {
    border-radius: 3px;
    border: 1px solid #ADADAD;
    height: 25px;
    width: 40vw;
}
.row1, .row2, .row3, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13, .row14, .row15, .row16{
   display: flex; 
   justify-content: space-between;
   margin-top: 2%;
   align-items: center;
}
.row4{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    align-items: center;
}


.row5{
   display: flex;
   justify-content: space-between;
   margin-top: 3%;
   align-items: center;
}


.application_category{
    border-radius: 2px;
    border: 1px solid #ADADAD;
    height: 25px;
    width: 40vw;
    display: block;
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
    position: relative;
    margin-top: 5px;
}

.arrears_only{
    border-radius: 3px;
    border: 1px solid #ADADAD;
    height: 25px;
    width: 40vw;
    display: block;
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
    position: relative;
    margin-top: 5px;
}

.intergovernmental{
    border: 1px solid #ADADAD;
    border-radius: 3px;
    height: 25px;
    width: 40vw;
    display: inline-block;
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.case_number{
    border: 1px solid #ADADAD;
    border-radius: 3px;
    height: 25px;
    width: 40vw;
    background-image: url(./img/лупа.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 99%;
    align-items: center;
}
.referral_number, .enrollment_taken, .intake_supervisor, .worker_optional, .owner_optional{
    border: 1px solid #ADADAD;
    border-radius: 3px;
    height: 25px;
    width: 40vw;
    background-image: url(./img/лупа.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 99%;
    align-items: center;

}

.line{
    border-bottom: 1px solid #D1D1D1;
   margin: 3% auto;
}

.button_next{
    background-color: #0050D8;
    color: #FFFFFF;
    border: 1px solid #0050D8;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5%;
    position: relative;
    left: 95%;
}
 
/*input.dataread[type="date"]:read-only{
    
}*/

